body {
  margin: 0;
font-family: 'Inter', sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
.wrapper-inner{ 
    width: 800px;
}

.header {
  background: #F55A5A;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px 0px;
  
}
.header div .fa-globe{ 
  font-size:25px;
  margin-right:10px;
}
.header h3 {
  font-weight: 500px;
  font-size: 14.46px;
  line-height: 17.5px;
  letter-spacing: -7.5%;
  color:#fff;
}
